//.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, 300px);
    gap: 10px;
}

//@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    gap: 10px;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.item1 {
    grid-column: 1;
    grid-row: 2;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.item2 {
    grid-column: 2;
    grid-row: 2;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.item3 {
    grid-column: 3;
    grid-row: 2;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.item4 {
    grid-column: 1;
    grid-row: 3;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.item5 {
    grid-column: 3;
    grid-row: 3;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.item6 {
    grid-column: 1;
    grid-row: 4;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.item7 {
    grid-column: 2;
    grid-row: 4;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.item8 {
    grid-column: 3;
    grid-row: 4;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.item9 {
    grid-column: 2;
    grid-row: 4;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.footer {
    grid-column: 1 / 4;
    grid-row: 5;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}






//.item2, .item4, .item1, .item3 {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}